<template name="aboutSocial">
<div class="social chapter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h1 class="text-center chapter-title">
            We believe that this evolution will lead to societies that are connected, collective, and compassionate.
        </h1>

        <div class="row chapter">
          <div class="col-md-6 col-sm-12">
            <img src="social/social-disaster.png" class="center-block img-responsive" alt="Disaster response">
            <h2 class="text-center">Disaster Response</h2>
            <p class="text-center">
                Requiring no central infrastructure, even the most devastated regions will remain connected when it matters most.
            </p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img src="social/social-access.png" class="center-block img-responsive" alt="Universal access">
            <h2 class="text-center">Universal Access</h2>
            <p class="text-center">
                By reducing setup costs, the over 4 billion people without internet will have access to a better option.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12">
            <img src="social/social-ownership.png" class="center-block img-responsive" alt="Collective ownership">
            <h2 class="text-center">Collective Ownership</h2>
            <p class="text-center">
                Because people own the infrastructure, it becomes impossible for a single authority to censor, monitor, or restrict access to the Edgenet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>