<template name="aboutNotPerfect">
<div class="not-perfect chapter">
  <div class="container-fluid">
    <h1 class="text-center chapter-title">But nothing is perfect.</h1>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-md-2 col-md-offset-2">
            <img src="not-perfect/not-perfect-privacy.png" class="center-block img-responsive" alt="Privacy">
            <h2 class="text-center">Privacy</h2>
            <p class="text-center">Your boss knows what you're up to.</p>
          </div>
          <div class="col-sm-12 col-md-2 col-md-offset-1">
            <img src="not-perfect/not-perfect-spying.png" class="center-block img-responsive" alt="Spying and hacking">
            <h2 class="text-center">Spying - Hacking</h2>
            <p class="text-center">So does your country.</p>
          </div>
          <div class="col-sm-12 col-md-2 col-md-offset-1">
            <img src="not-perfect/not-perfect-cost.png" class="center-block img-responsive" alt="Cost">
            <h2 class="text-center">Cost</h2>
            <p class="text-center">The average phone bill is over $100.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>