<template name="aboutWonderful">
<div class="wonderful chapter">
        <div class="container-fluid">
            <h1 class="text-center chapter-title">The Internet is wonderful.</h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-2 col-md-offset-2">
                            <img src="wonderful/wonderful_scale.png" class="center-block img-responsive" alt="Scale">
                            <h2 class="text-center">Scale</h2>
                            <p class="text-center">Connect to anyone, anywhere instantly.</p>
                        </div>
                        <div class="col-sm-12 col-md-2 col-md-offset-1">
                            <img src="wonderful/wonderful_family.png" class="center-block img-responsive" alt="Families">
                            <h2 class="text-center">Families</h2>
                            <p class="text-center">Keep in touch with loved ones.</p>
                        </div>
                        <div class="col-sm-12 col-md-2 col-md-offset-1">
                            <img src="wonderful/wonderful_community.png" class="center-block img-responsive" alt="Communities">
                            <h2 class="text-center">Communities</h2>
                            <p class="text-center">Join grassroot civic engagement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>