.flyfi-signup {
  background-image: url("/header/header_background.jpg");
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.flyfi-feature-row {
  padding-top: 50px;
  padding-bottom: 50px;
}