<template name="secondLine">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="/secondline/secondline.jpg" class="img-responsive img-rounded secondline-image" alt="SecondLine">
      </div>
      <div class="col-sm-7">
        <h3>Second Line</h3><br/>
        <p>Maybe you’ve heard that your online activity <a href="http://www.businessinsider.com/linkedin-users-are-over-twice-as-likely-to-report-identity-theft-2012-3">increases your vulnerability</a> to identity theft, that the government is <a href="http://www.slate.com/blogs/future_tense/2015/05/06/report_government_surveillance_planes_spotted_over_baltimore_protests.html">tracking supporters</a> of the “Black Lives Matter” movement, or that the NSA is looking at your <a href="http://www.salon.com/2015/04/09/dick_pics_for_freedom_how_john_oliver_accidentally_started_a_nsfw_revolution/">dick picks</a>, but think the tools that can protect you are too complicated.</p><br/>
        <p>If so, Second Line is the messaging app for you. Just download, pick a password, and you’ll be able to send messages so that even the phone company won’t know who you are talking to or what you are saying.</p><br/>
        <p class="text-right"><b>Coming this July to:</b></p>
        <img src="/secondline/googleplay.jpg" class="img-responsive img-rounded pull-right" alt="SecondLine">
      </div>
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      {{> signupEmail buttonText="Beta signup"}}
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img src="/secondline/secure.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-4">
        <h2>Secure</h2>
        <p>All your information is encrypted in transit and on your phone, so nobody can listen in.</p>
      </div>
      <div class="col-sm-2">
        <img src="/secondline/hasslefree.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-4">
        <h2>Hassle Free</h2>
        <p>Just pick a password and you are ready to start talking.</p>
      </div>
    </div>
    <div class="row secondline-feature-row">
      <div class="col-sm-2">
        <img src="/secondline/offline.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-4">
        <h2>Offline</h2>
        <p>Because Second Line leverages the edgenet, that means you can talk with friends nearby even if there is no internet connection.</p>
      </div>
      <div class="col-sm-2">
        <img src="/secondline/anonymous.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-4">
        <h2>Anonymous</h2>
        <p>Second Line uses a technique called <a href="https://en.wikipedia.org/wiki/Mix_network">mix-nets</a> so that even the phone company can’t figure out who you are messaging.</p>
      </div>
    </div>
  </div>
</div>
</template>