<template name="secondLine">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <img src="/secondline/secondline.jpg" class="img-responsive img-rounded secondline-image" alt="SecondLine">
      </div>
      <div class="col-sm-6">
        <h3>Second Line</h3>
        <p> Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.</p>
        <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
        <br/>
        <p class="text-right"><b>Coming this July to:</b></p>
        <img src="/secondline/googleplay.jpg" class="img-responsive img-rounded pull-right" alt="SecondLine">
      </div>
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {{> signupEmail buttonText="Beta signup"}}
      </div>
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <img src="/secondline/secure.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-3">
        <h2>Secure</h2>
        <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
      </div>
      <div class="col-sm-2">
        <img src="/secondline/hasslefree.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-3">
        <h2>Hassle Free</h2>
        <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
      </div>
    </div>
    <div class="row secondline-feature-row">
      <div class="col-sm-2 col-sm-offset-1">
        <img src="/secondline/offline.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-3">
        <h2>Offline</h2>
        <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
      </div>
      <div class="col-sm-2">
        <img src="/secondline/anonymous.jpg" class="img-responsive img-rounded" alt="SecondLine">
        </div>
      <div class="col-sm-3">
        <h2>Anonymous</h2>
        <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
      </div>
    </div>
  </div>
</div>
</template>