<template name="research">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="/research/research.jpg" class="img-responsive img-rounded" alt="SecondLine">
      </div>
      <div class="col-sm-7">
        <h3>Research Projects</h3>
      </div>
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

      </div>
      <div class="col-sm-4">
        <h1>Stingray Usage</h1>
      </div>
    </div>
  </div>
</div>
</template>