<template name="research">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="/research/research.jpg" class="img-responsive img-rounded secondline-image" alt="SecondLine">
      </div>
      <div class="col-sm-7">
        <h3>Research Projects</h3><br/>
        <p>Technology has can be a powerful tool for equity and social justice. However, in its current state, technological development largely ossifies pre-existing structural inequity. Exploring the radical potential of technology is the motivation for Unplugged’s Research Program.</p><br/>
        <p>We are deeply excited to explore research that recognizes and focuses on processes, rather than products, as the true locus of creativity and development, and believe shifting our focus to processes will have a revolutionary impact on the humaneness of economic development.</p>
      </div>
    </div>
  </div>
</div>
<div class="chapter-title">
  <div class="container">
    {{> signupEmail buttonText="Keep me updated."}}
  </div>
</div>
<div class="chapter">
  <div class="container">
    <h1>Stingray Usage</h1>
    <p>This project seeks to map the social geography of a form of surveillance called <a href="https://www.aclu.org/issues/privacy-technology/surveillance-technologies/stingray-tracking-devices">the Stingray</a>. Stingrays, or IMSI catchers, are devices that effectively imitate cell phone towers and are used by many local police forces to track the locations, call histories, and even content of individuals’ cell phones. At the same time, Stingrays pick up information from all of the phones within its range, not just the phone they’re targeting. Use of these devices has been shrouded in secrecy, particularly because they are often deployed without warrants, and this project is an effort to shed light on their use.</p>
    <p>In order to document the presence of Stingrays and to examine the race and class demographics of the areas in which it is used, we have created a modified version of <a href="https://github.com/marvinmarnold/Android-IMSI-Catcher-Detector">an Android</a> application that analyzes known cell tower locations, signal strength, and other variables in order to inform the user when it is likely that her device is in range of a Stingray. This version of the application simultaneously uploads anonymous data in order to map threats onto a <a href="https://stingray.meteor.com/">public website</a>.</p>

    <h2>See more details at the dedicated website, <a href="https://stingray.meteor.com/">the Stingray Mapping Project</a></h2>
    <br/>
    <p>
      <b>WARNING: THIS PROJECT IS HIGHLY EXPERIMENTAL AND STILL AT BLEEDING ALPHA!</b>
    </p>
  </div>
</div>
</template>