<template name="research">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="/research/research.jpg" class="img-responsive img-rounded secondline-image" alt="SecondLine">
      </div>
      <div class="col-sm-7">
        <h3>Research Projects</h3><br/>
        <p>Technology has the potential to be a powerful tool for equity and social justice. However, in its current state, technological development largely ossifies pre-existing structural inequity. Exploring the radical potential of technology is an enormous motivation for our team.</p><br/>
        <p>We are deeply excited to explore research that recognizes and focuses on processes, rather than products, as the true locus of creativity and development, and believe shifting our focus to processes will have a revolutionary impact on the humaneness of economic development.</p>
      </div>
    </div>
  </div>
</div>
<div class="chapter-title">
  <div class="container">
    {{> signupEmail buttonText="Keep me updated."}}
  </div>
</div>
<div class="chapter">
  <div class="container">
    <h1>Stingray Usage</h1>
    <p>Those at the fringes of society are often the first to be affected by aggressive policing tactics. In this project, we seek to better understand how all people, but especially low income and minority populations may be disproportionately targeted by a form of surveillance called Stingrays.</p>
    <p><a href="https://www.aclu.org/issues/privacy-technology/surveillance-technologies/stingray-tracking-devices">Stingrays aka IMSI catchers</a> are devices used by law enforcement to track an individual’s cell phone, and can divulge a citizen’s location, call history, and even snoop on entire conversations. Furthermore, because they effectively imitate cell phone towers, they can pick up information from all phones in range, not only the target.These devices are clouded in secrecy and given recent revelations concerning law enforcement in America, this project is an effort to shed light on their use.</p>
    <p>This is done using a modified version of an <a href="https://github.com/SecUpwN/Android-IMSI-Catcher-Detector">Android application</a> that analyzes known cell tower locations, signal strength, and other variables in order to inform users whether it is likely there device is in range of a Stingray. Our <a href="https://github.com/marvinmarnold/Android-IMSI-Catcher-Detector">modified version</a>, uploads anonymous data so that we can map threats and better understand usage within specific communities.</p>
    <p><b>WARNING: THIS PROJECT IS HIGHLY EXPERIMENTAL AND STILL AT BLEEDING ALPHA!</b></p>
  </div>

  <div class="container-fluid map-container">
    <div id="map"></div>
  </div>
</div>
</template>