<template name="stingray">
  <!-- <div class="container-fluid map-container">
    <div class="row">
      <div class="col-sm-3">
        <h1>Recent Detections</h1>
        <table class="table">
           <thead>
            <tr>
              <th>Threat level</th>
              <th>Location</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
            {{#each recentDetections}}
              <tr>
                <td>{{threatLevel}}</td>
                <td>{{location}}</td>
                <td>{{observedAt}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-sm-9">
        <div id="map"></div>
      </div>
    </div>
  </div> -->
<div class="container-fluid">
  <div class="row">
    <div id="map"></div>
  </div>
</div>
</template>