<template name="aboutNotOurs">
<div class="not-ours chapter">
  <div class="container-fluid">
    <h1 class="text-center chapter-title">The Internet isn't ours.</h1>
    <img src="not-ours/not-ours.png" class="center-block img-responsive" alt="The entities in control">
    <div class="row not-ours-explanation">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <p class="text-center not-ours-explanation-text">
        These imperfections are a result of such rapid consolidation that today just a few big players own most of the infrasture we use to communicate online.
        </p>
      </div>
    </div>
  </div>
</div>
</template>