<template name="flyfi">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3>FlyFi</h3>
        <p> Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.</p>
        <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
      </div>
      <div class="col-sm-7">
        <img src="/flyfi/flyfi.jpg" class="img-responsive img-rounded" alt="SecondLine">
      </div>
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    {{> signupEmail buttonText="Get updates"}}
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/flyfi/ubiquitous.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Ubiquitous</h2>
        <p>Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/compatible.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Compatible</h2>
        <p>Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/equitable.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Equitable</h2>
        <p>Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>
    </div>
    <div class="row flyfi-feature-row">
      <div class="col-sm-4">
        <img src="/flyfi/scalable.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Scalable</h2>
        <p>Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/crowds.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Crowd Friendly</h2>
        <p>Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/disaster.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Disaster Resistant</h2>
        <p>Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>
    </div>
  </div>
</div>
</template>