<template name="flyfi">
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3>FlyFi</h3><br/>
        <p>Technology moves fast, but infrastructure requires huge amounts of planning, investment, and time. The traditional systems of fiber optic cables, cell towers, and satellites are struggling to keep pace with the billions of connected devices entering the market.</p><br/>
        <p>FlyFi combines the edgenet and autonomous UAVs to offer infrastructure that can scale to your needs. No more paying a fixed amount for fixed connectivity. With FlyFi, you pay as you go under a model we call Infrastructure as a Service.</p>
      </div>
      <div class="col-sm-7">
        <img src="/flyfi/flyfi.jpg" class="img-responsive img-rounded" alt="SecondLine">
      </div>
    </div>
  </div>
</div>
<div class="chapter">
  <div class="container">
    {{> signupEmail buttonText="Get updates"}}
  </div>
</div>
<div class="chapter">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/flyfi/ubiquitous.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Ubiquitous</h2>
        <p>Say goodbye to dead zones. FlyFi goes wherever you go.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/compatible.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Compatible</h2>
        <p>FlyFi speaks a lot of languages. Whether your device uses Bluetooth, WiFi, or BLE, you can connect.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/equitable.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Equitable</h2>
        <p>Over ⅔ of the world doesn’t have internet. We provide a cheap solution for those in most need.</p>
      </div>
    </div>
    <div class="row flyfi-feature-row">
      <div class="col-sm-4">
        <img src="/flyfi/scalable.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Scalable</h2>
        <p>We bring the concept of the cloud to your internet connection. Pay for what you need. Scale usage up or down without any headaches.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/crowds.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Crowd Friendly</h2>
        <p>No more struggling to coordinate with friends at a concert or in a big crowd.</p>
      </div>
      <div class="col-sm-4">
        <img src="/flyfi/disaster.jpg" class='img-rounded img-responsive' alt="Crowd resistant">
        <h2>Disaster Resistant</h2>
        <p>FlyFi can be deployed in a matter of minutes, in order to provide quick recovery when time matters the most.</p>
      </div>
    </div>
  </div>
</div>
</template>